/***************   POLICES ET BOX-SIZING   ****************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');

* {
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
}

p, h1, h2, h3 {
    margin: 0;
} 

/***************   HEADER   ****************/
header {
	display: flex;
	position: relative;
}
	header i {
		position: absolute;
		top: 36%;
		font-size: 24px;
		color: black;
		margin-left: 30px;
		transition: all 0.2s;
	}
	header i:hover {
		color: #FF79DA;
	}
	#logo {
		width: 50%;
		margin: 20px auto 15px;
	}


/***************   MAIN   ****************/
main {
	width: 100%;
	background-color: #F6F6F6;
}

	/***************   Photo   ****************/
	.photo_restau img {
		width: 100%;
		height: 250px;
		object-fit: cover;
	}

	/***************   Menu   ****************/
	.menu {
		width: 100%;
		background-color: #F6F6F6;
		border-radius: 40px 40px 0px 0px;
		padding: 45px 15px 0px 15px;
		position: relative;
		top: -50px;
		display: flex;
		flex-direction: column;
	}	

		/***************   Nom du resaurant   ****************/
		.nom_restau {
			display: flex;
			justify-content: space-between;
			padding-right: 15px;
			margin-bottom: 40px;
			position: relative;
		}

			h1 {
				font-family: Shrikhand, Arial, sans-serif;
				font-weight: 500;
				font-size: 30px;
				margin-left: 5px;
			}

			.nom_restau i {
				font-size: 25px;
				position: absolute;
				right: 15px;
				top: 2px
			}
				.nom_restau .fa-solid {
					background: linear-gradient(175deg, #FF79DA, #9356DC);
					background-clip: text;
					-webkit-background-clip: text;
					color: transparent;
					opacity: 0;
					transition: all 0.3s ease-in-out;
				}
				.nom_restau .fa-solid:hover {
					opacity: 1;
					transform: scale(1.1);
					cursor: pointer;
				}


		/***************   La carte   **************/
		.entrées, .plats, .desserts {
			margin-bottom: 30px;
		}

		.entrées {
			animation: apparition 0.5s both;
		}
		.plats {
			animation: apparition 1s 0.2s both;
		}
		.desserts {
			animation: apparition 1.5s 0.4s both;
		}
		@keyframes apparition {
			from { 
				opacity: 0;
				transform: translateY(25%);
			}
			to {
				opacity: 1;
			}
		}

			/*********   Les titres  ********/
			.titre {
				margin-bottom: 20px;
			}
				h2 {
					margin-bottom: 5px;
					font-size: 17px;
					font-weight: 300;
				}

				.trait_vert {
					border-bottom: #99E2D0 4px solid;
					width: 40px;
				}


			/*********   Les "cards" ********/
			.card {
				width: 100%;
				display: flex;
				background-color: white;
				border-radius: 15px;
				box-shadow: 0px 2px 7px #CECECE;
				margin-bottom: 15px;
				text-decoration: none;
				color: black;
				flex-wrap: nowrap;
				overflow: hidden;
			}
				.nom_du_plat {
					overflow: hidden;
					text-overflow: ellipsis;
					padding: 12px 20px 10px 12px;
				}
					.nom_du_plat_titre {
						font-size: 17px;
						font-weight: 700;
						margin-bottom: 4px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.nom_du_plat_description {
						font-size: 15px;
						font-weight: 300;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

				.prix {
					display: flex;
					align-items: flex-end;
					font-weight: 700;
					font-size: 15px;
					padding: 0 15px 10px 0;
					margin-left: auto;
				}
				.coche {
					background-color: #99E2D0;
					min-width: 4rem;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: -4rem;
					transition: margin-right 0.3s;
				}
				.card:hover .coche {
					margin-right: 0;
				}
				.coche i {
					color: white;
					font-size: 1.6rem;
					font-weight: 900;
				}
				.card:hover i {
					animation: spin_check 0.5s ;
				}
				@keyframes spin_check {
					0% {
						transform: rotate(-330deg);
					}
					100% {
						transform: rotate(0deg);
					}
				}

			
			/*********   Bouton "COMMANDER" ********/
			.boutton_commander {
				width: 50%;
				margin: 10px auto;
				text-decoration: none;
				text-align: center;
				color: white;
				font-size: 14px;
				font-weight: 500;
				background: linear-gradient(175deg, #FF79DA, #9356DC);
				border-radius: 30px;
				padding: 15px 18px;
				box-shadow: 0px 5px 8px #cecece;
				transition: all 0.3s;
			}
			.boutton_commander:hover {
				opacity: 0.8;
				box-shadow: 2px 5px 8px #a3a2a2;
			}



/***************   FOOTER   ****************/
footer {
    width: 100%;
    background-color: #353535;
    padding: 10px 0px 35px 20px;
    display: flex;
    flex-direction: column;
}
    footer h2 {
        color: white;
        font-family: Shrikhand, Arial, sans-serif;
        font-size: 15px;
        font-weight: 200;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    footer a {
        margin-bottom: 10px;
        font-size: 15px;
        text-decoration: none;
        color: white;
    }
    footer a:hover {
        color: #FF79DA;
    }
        .fa-utensils {
            font-size: 12px;
            margin-right: 15px;
        }
        .fa-handshake-angle {
            font-size: 12px;
            margin-right: 11px;
        }