/***************   POLICES ET BOX-SIZING   ****************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');

* {
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
}

p, h1, h2, h3 {
    margin: 0;
} 

/***************   HEADER   ****************/
header {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 2px #CECECE;
    position: relative;
    z-index: 2;
}

#logo {
    width: 100%;
}

header a {
    width: 50%;
    margin: 20px 0px 10px 0px;
}

/***************   MAIN   ****************/
main { 
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

    /***************   EXPLORER   ****************/
.explorer { 
    width: 100%;
    display: flex;
    flex-direction: column;
}
    .exp_localisation { 
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
    }
        .exp_localisation p {
            font-size: 16px;
            font-weight: 600;
            margin-left: 20px;
        }
        .exp_localisation i {
            position: relative;
            bottom: 2px;
        }

    .exp_body {
        background-color: #F6F6F6;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .exp_body h1 {
            width: 80%;
            text-align: center;
            font-size: 22px;
            font-weight: 800;
            margin-top: 40px;
        }
        .exp_body p {
            width: 90%;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            margin-top: 15px;
        }
        .exp_body a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 500;
            background-color: rgb(182, 91, 182);
            border-radius: 30px;
            margin-top: 35px;
            padding: 15px 18px;
            box-shadow: 0px 5px 5px #cecece;
        }


    /***************   FONCTIONNEMENT   ****************/
.fonctionnement {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
    .fonctionnement h2 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-left: 15px;
    }

    .deck_fonctionnement {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .choisissez, .composez, .degustez {
            display: flex;
            align-items: center;
            height: 25%;
            width: 85%;
            margin-bottom: 20px;
            background-color: #F6F6F6;
            border-radius: 25px;
            box-shadow: 0px 4px 7px #cecece;
            position: relative;
        }
        .choisissez:hover, .composez:hover, .degustez:hover {
            cursor: pointer;
            background-color: #F5EDFF;
        }
            .fonct_body i:hover {
                color: #9356DC;
            }
            .fonct_body {
                display: flex;
                margin-left: 10px;
            }
                .fonct_body p {
                    margin-left: 25px;
                    font-size: 16px;
                    font-weight: 600;
                }
                .fonct_body i {
                    margin-left: 25px;
                    font-size: 20px;
                    color: #7e7e7e;
                    position: relative;
                    bottom: 3px;
                }
            .fonct_num {
                position: absolute;
                left: -11px;
                text-align: center;
                width: 25px;
                height: 25px;
                background-color: #9356DC;
                color: white;
                font-size: 15px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }


    /***************   RESTAURANTS   ****************/
.restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 50px 20px;
}
    .restaurants h2 {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 600;
    }

    .deck_restaurants {
        display: flex;
        flex-direction: column;
    }
        .card_restaurant {
            text-decoration: none;
            color: black;
            margin-bottom: 20px;
            border-radius: 15px;
            box-shadow: 0px 3px 7px #cecece;
            width: 100%;
            height: 250px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        .card_restaurant:hover {
            box-shadow: 0 6px 7px #a8a7a7;
        }
            .card_img {
                width: 100%;
                height: 70%;
                display: flex;
                position: relative;
            }
                .card_img img {
                    width: 100%;
                    object-fit: cover;
                }
                .card_img p {
                    background-color: #99E2D0;
                    color: #139273;
                    font-size: 13px;
                    font-weight: 600;
                    padding: 7px 10px;
                    border-radius: 3px;
                    position: absolute;
                    right: 5%;
                    top: 10%;
                }
            .card_body {
                width: 100%;
                height: 30%;
                padding-left: 15px;
                padding-right: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
                .card_body h3 {
                    font-size: 17px;
                    font-weight: 800;
                    margin-bottom: 5px;
                }
                .card_body p {
                    font-weight: 300;
                    font-size: 15px;
                }
                .card_body i {
                    font-size: 25px;
                }


/***************   FOOTER   ****************/
footer {
    width: 100%;
    background-color: #353535;
    padding: 10px 0px 50px 20px;
    display: flex;
    flex-direction: column;
}
    footer h2 {
        color: white;
        font-family: Shrikhand, Arial, sans-serif;
        font-size: 15px;
        font-weight: 200;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    footer a {
        margin-bottom: 10px;
        font-size: 15px;
        text-decoration: none;
        color: white;
    }
        .fa-utensils {
            font-size: 12px;
            margin-right: 15px;
        }
        .fa-handshake-angle {
            font-size: 12px;
            margin-right: 11px;
        }